@charset "UTF-8";
/* CSS Document */
body {
	background-color: #FFFFFF;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*links*/
a:link {
	text-decoration:none;
	color:#000000;
}
a:visited {
	text-decoration:none;
	color:#000000;
}

/*paragraphs*/
p {
	text-align:center;
	color:rgba(255,255,255,1.00);
	background-color:rgba(255,0,36,.60);
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:fixed;
	height:360px;
	margin-bottom:10px;
}

/*Portfolio*/
#portfolio {
	display:inline-block;
	text-align:center;
	width:100%;
}


#outercontainer {
	margin: 10px;
}

#insetcontainer {
	background-color: #FFF;
	margin-right: 25px;
	margin-left: 25px;
}

.biglogo {
	position:relative;
	top:0;
	float:left;
}

/*navigation*/
#navcontainer {
	text-align:end;
	padding-top:37px;

}
.nav li {
	padding-top:60px;
	display:inline-block;
	letter-spacing:.05em;
}
.nav a {
	padding-right:10px;
	padding-left:10px;
	text-transform:lowercase;
}
.nav a:hover {
	color:#ED0000;
}
#content {
}
#footer {
	padding-top: 3px;
	padding-right: 50px;
	padding-bottom: 3px;
	padding-left: 50px;
	background-color:#D1D1D1;
	text-align:center;
}

#email {
	text-align:center;
	color:rgba(255,255,255,1.00);
	background-color:rgba(255,0,36,.60);
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:fixed;
	height:360px;
	margin-bottom:10px;
}
#email a {
	color:#FFFFFF;
	text-decoration:underline;
}
#email a:hover {
	text-decoration:none;
}
